doctype html
html
  block head
    title=title
    link(rel='stylesheet' href='/stylesheets/reset.css')
    script(src="/javascripts/index.js" type="module")
  body
    nav#navbar
      span.left-navBar
        a.navButton(class="shimmer-btn" href='/')
          img#logo(src="/images/logo.png")
      span.right-navBar
        button.navButton
          a(class="create-question shimmer-btn" href='/questions') Create Question
        if authenticated
          form(action="/users/logout" method="post")
            button.navButton(type="submit" class="shimmer-btn") Logout
          div.navButton Welcome, #{user.userName}
        else
          button
            a(href="/users/login" class="shimmer-btn") Login
          button
            a(href="/users/register" class="shimmer-btn") Register
          form(action='/users/logindemo' method='post')
            button(type='submit' class="demo-button shimmer-btn") Demo User

  block content
