doctype html
html
  block head
    title=title
    link(rel='stylesheet' href='/stylesheets/reset.css')
    script(src="/javascripts/index.js" type="module")
  body
    nav#navbar
      span.left-navBar
        img#logo(src="/images/logo.png")
        a.navButton(href='/') 🏠
      span.right-navBar
        button.navButton
          a(href='/questions') Create a new question
        if authenticated
          form(action="/users/logout" method="post")
            button.navButton(type="submit") Logout
          div.navButton Welcome #{user.userName}
        else
          button
            a(href="/users/login") Login
          button
            a(href="/users/register") Register
          form(action='/users/logindemo' method='post')
            button(type='submit') Demo User
            
  block content
