extends layout

block content
    
        div(class="login")
            img(src='/images/logo.png' class='logo')
            div(class='login-container')
                if needLogin
                    p You need to be logged in to access certain functionalities
                span
                    a(href='/') 🏠
                include error.pug

                form(action='/users/login' method='post')

                    input(name='_csrf' type='hidden' value=csrfToken)
                    label(for='email') Email
                    input(name='email' type='text' required)
                    label(for='password') Password
                    input(name='password' type='password' required)
                    button(type='submit') Login

                p(class='p-register') If you do not have an account click the button below to register

                a(href='/users/register')
                    img(src="/images/controler.jpg" class='controler')
