extends layout

block content
    include error.pug
    form(action='/users/login' method='post')
        input(name='_csrf' type='hidden' value=csrfToken)
        label(for='email') Email
        input(name='email' type='text' required)
        label(for='password') Password
        input(name='password' type='password' required)
        button(type='submit') Login