extends layout

block content
    div
        p=title
        div=question.body
        each comment in comments
            div=comment.body
        form(method='post' action='/comments')
            input(name='_csrf' type='hidden' value=csrfToken)
            textarea(id='newComment' name='newComment' placeholder='Add comment here')
            button(type='submit') Add Comment
