
extends layout
append head
    //- add page specific styles by appending to the head
    title=title
    link(rel="stylesheet" href="/stylesheets/new-question.css")
    link(rel="stylesheet" href="/stylesheets/register.css")
    script(src="/javascripts/index.js" type="module")
    script(src="/javascripts/homeClick.js" type="module")
block content
      p
        p .
          div(class="register-container")
              div(class="img-container")
                img(src="/images/logo.png" class="game-ora-pic")
              include error.pug
              form(action='/users/register' method='post' class="form")
                  input(name='_csrf' type='hidden' value=csrfToken)
                  label(for='userName' class="user-name-label") User Name
                  input(name='userName' type='text' class="user-name" required)
                  label(for='email') Email
                  input(name='email' type='text' class="email" required)
                  label(for='password') Password
                  input(name='password' type='password' class="password" required)
                  label(for='confirmPassword') Confirm Password
                  input(name='confirmPassword' type='password' class="conpassword" required)
                  button(type='submit' class="register") Register

              p(class="account-exist") Already have an account?

                  a(href='/users/login' class="login") Login
