/* body{
    background-color:rgb(19, 34, 40);
    display: flex;
    flex-direction: column;
background-image: url("/images/wallhaven-0p9m1p.jpg");
background-repeat: repeat;
z-index: -1;
background-size: contain;
background-attachment: fixed;
} */



.login-container{
    display: flex;
    justify-content: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.controller{
    width:100px;
}
