body{
    background-color:rgb(19, 34, 40);
    display: flex;
    flex-direction: column;
background-image: url("/images/wallhaven-0p9m1p.jpg");
background-repeat: repeat;
z-index: -1;
background-size: contain;
background-attachment: fixed;


}
.img-container{

   margin: -1px 0px -40px 0px;
}
.game-ora-pic{
    padding-top: 37px;
    padding-left: 20px;
    font-family: cursive;
    font-weight: bolder;
    font-size: 30px;
    color: rgb(160, 160, 160);
      width: 250px;
    height: auto;
}

.placeholder{

   display: flex;
   padding-left: 400px;
}
.page-container{
    display: flex;
    flex-direction: row;

}



.single-question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px rosybrown;
    width: 500px;
    margin-right: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #949d7c;
    text-align: center;
    color: rgb(240, 240, 240);
    font-family: Segoe UI;
    overflow-wrap: break-word;
    padding: 4px;

}
.jebhadtodoit:hover {
 border-radius: 10px;
}

.question-label {

    color: rgb(240, 240, 240);
    font-style: italic;
    border-radius: 10px;
    font-family: Segoe UI;
    font-size: 21px;

}
.topic-container{

    color:rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items:initial;
    justify-content: space-around;
    font-family: Segoe UI;

    background-color: rgba(121, 120, 120, 0.3);


}

.topic-container{
    text-decoration: none;
}

#newComment {
    width: 500px;
    height: 150px;
}
/* a:hover {
 text-decoration: underline;
}   */
.questionForm {
    display: flex;
    flex-direction: column;
}

.addCommentButton {
    margin-left: 170px;
}

#body-div {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    margin-left: 300px;
}

.addCommentButton:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    opacity: 0;
    transform: translateX(-100%);

    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.3) 100%
    );
}

.addCommentButton:hover {
    cursor: pointer;
}

.addCommentButton:hover:after {
    text-decoration: none;
    border-radius: 10px;
    opacity: 1;
    top: 0;
    left: 0;
    transform: translateX(0);
    transition-property: transform, opacity;
    transition-duration: 0.7s, 0.15s;
    transition-timing-function: ease-in-out;
    text-decoration-color: lightgray;
}
